h1 {
    text-align: center;
    color: #333; 
}

.dropdown-menu {
    list-style: none;
    color: antiquewhite;
    padding: 0;
    margin: 20px 0;
}

.menu-item {
    background-color: #000000; 
    padding: 10px;
    border-bottom: 1px solid #ccc; 
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu-item {
    padding: 5px 20px;
    border-bottom: 1px solid #000000; 
}

.submenu-item a {
    text-decoration: none;
    color: #fefefe; 
}

.submenu-item a:hover {
    color: #ffffff; 
}

button {
    display: block;
    margin: 20px auto;
    background-color: #000000; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #0056b3; 
}
